<plugin name='markdown-blog' version='0.3' grailsVersion='2.2 &gt; *'>
  <author>Andy Hawkes</author>
  <authorEmail>andy@andyhawkes.com</authorEmail>
  <title>Markdown Blog Plugin</title>
  <description>This plugin adds a Markdown-powered blog and content editor to your Grails app. Edit your dynamic blog posts and pages with a client-side Markdown editor (EpicEditor). You can then customize the appearance with your own Grails views, map your posts/pages to whatever location you want with UrlMappings, and so on. Check out the project documentation for more info!
</description>
  <documentation>https://github.com/azhawkes/grails-markdown-blog/blob/master/README.md</documentation>
  <type>MarkdownBlogGrailsPlugin</type>
  <resources>
    <resource>com.sourcerefinery.markdownblog.MarkdownBlogAdminController</resource>
    <resource>com.sourcerefinery.markdownblog.MarkdownBlogController</resource>
    <resource>com.sourcerefinery.markdownblog.MarkdownBlogPost</resource>
    <resource>markdown.blog.MarkdownBlogTagLib</resource>
  </resources>
</plugin>